body { background: #92da25; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 18px; display: flex; }
.block-email-0 { color: #a01158; font-size: 18px; margin-bottom: 5px; }
.block-notify-1 { color: #f7d3dc; font-size: 16px; margin-bottom: 5px; }
.block-uploader-2 { color: #338186; font-size: 17px; margin-bottom: 5px; }
.block-helper-3 { color: #de8bb2; font-size: 18px; margin-bottom: 5px; }
.block-helper-4 { color: #17d008; font-size: 14px; margin-bottom: 5px; }
.block-user-5 { color: #78b92c; font-size: 18px; margin-bottom: 5px; }
.block-session-6 { color: #97d8f7; font-size: 16px; margin-bottom: 5px; }
.block-cluster-7 { color: #8d96a0; font-size: 20px; margin-bottom: 5px; }
.block-shipping-8 { color: #e410de; font-size: 19px; margin-bottom: 5px; }
.block-sms-9 { color: #190470; font-size: 15px; margin-bottom: 5px; }